body{
	background-color: #F1F1F1;
}
header{
	height:95px; width:100%; background-color: black; position:fixed; right: 0px; top: 0px; border: none; /*#303030*/
}
img.logo{
	height :78px; width:56px; float: left; margin-left: 42%; margin-top: 7px;
}
a.title{
	 color:rgb(66, 228, 171); text-align:center; padding-top: 25px; font-weight: 500; font-size: 32px; font-style: normal; float: left;
	 font-family: Arial, Helvetica, sans-serif; text-decoration: none;
}
.div1{
	height:600px; width: 40%; margin-top:19px; margin-right: 29%; /*background-color:rgb(215, 247, 215);*/ font-style: normal; font-weight:bold;
	font-family: Arial, Helvetica, sans-serif; float:right;
}
.div1 .signuphead{
	height: 65px; width: 100%; float: left; margin-top: 0px; border: 0px solid black;
}
h2.get{
	color:black; font-weight:bold; font-size:35px; margin-left: 22%; margin-top: 3.5%; letter-spacing: 1px; float: left;
	 border: 0px solid black;
}
h3.to{
	color:black; font-weight: normal; font-size:28px; margin-left: 2.5%; margin-top: 1.5%; float: left; letter-spacing: 1px; border: 0px solid black;
}
.div1 .signupbody{
	height: 386px; width: 100%; border: 0px solid black;
}
div.rstmsg{
	height: 55px; width: 100%; border: 0px solid red; /*background-color: #464646;*/ float: left;
}
p.msg{						/*font-family: BrandonGortesque,Helvetica Neue,Helvetica,Arial,sans-serif;*/
	float: left; color: rgb(165, 158, 158); font-size: 18px; margin-left: 11%; line-height: 18px; font-style: normal; font-weight: normal;
	letter-spacing: 1px; text-align: center;
}
p.inputtitle{
	color: rgb(165, 158, 158); font-style: normal; font-weight: normal; letter-spacing: 2px; float: left; margin-bottom: 5px;
}
input.inputs{
	height: 50px; width: 99.7%; float: left; margin-left: 0px; margin-bottom: 15px; border: none;
	border: 1px solid rgb(165, 158, 158);
}
input.continue{
	height: 55px; width: 99.7%; cursor: pointer; background-color: #464646; color: rgb(22, 247, 168); font-style: normal; font-size: large;
	border: none; margin-top: 5px; letter-spacing: 3px; float: right; font-family: Arial, Helvetica, sans-serif;
}
.continue:hover {
	background-color: #37CDA8; transition: 2s; color: black;
}
img.eyesymbolnew{
	height:23px; width:23px; position: relative; right: 0.8%; bottom: 57%; cursor: pointer; opacity: 0.7; float: right;
}
img.eyesymbolconfirm{
	height:23px; width:23px; position: relative; right: -3.5%; bottom: 29%; cursor: pointer; opacity: 0.7; float: right;
}
p.wrongmsg{
	height: 55px; width: 100%; color: rgb(233, 39, 39); margin-top: -3%; border: 0px solid black; float: left;
}